<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <button class="btn btn-secondary" (click)="logOut()"><i class="fas fa-sign-out-alt"></i>Log Out</button>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="box" [formGroup]="currencyForm" (ngSubmit)="addCurrency(currencyForm.value)">
                <h1>Add currency</h1>
                <input type="text" name="country" placeholder="Country" formControlName="country">
                <input type="text" name="name" placeholder="Name" formControlName="name">
                <input type="submit" value="Add currency" href="#">
            </form>
        </div>
    </div>
    <br>
    <div class="currency-container">
        <div class="component-2 card px-5 py-5 mx-5" style="background-color: azure;  border-radius: 5%;">
            <div>
                <h4 class="text-center mb-4">
                    Currencies
                </h4>
            </div>
            <div class="col-12 d-flex">
                <div class="col-1"></div>
                <div class="col-10">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Country</th>
                                <th class="text-center">Currency</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="currency-tr" *ngFor="let currency of currencies">
                                <td class="text-center">{{currency.country}}</td>
                                <td class="text-center">{{currency.name}}</td>
                                <td class="text-center"><button (click)="deleteCurrency(currency.name)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>
