@import "~bootstrap/dist/css/bootstrap.css";
body {
    margin: 0;
}

.card {
    width: 100% !important;
}

.card.card-1 {
    background: linear-gradient(to top, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    color: white;
    background-size: cover;
    /* margin: 0 100px; */
    height: 127px;
}

.card.card-2 {
    background: linear-gradient(to top, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    color: white;
    background-size: cover;
    height: 127px;
}

h4 {
    color: black;
}

input{
    margin-right: 10px;
    color: white;
}

::placeholder{
    color: rgba(253, 253, 253, 0.452);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-left: 50px;
}

.box input[type="text"],
.box input[type="password"],
.box textarea {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box textarea:focus {
    width: 250px;
    border-color: #2ecc71
}

label {
    text-align: center;
    color: grey;
    margin-top: 30px;
    margin-right: 5px;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}



.container{
    display: flex;
    flex-direction: column;
    margin-left: 50px !important;
}

.currency-container{
    display: flex;
    flex-direction: column;
    margin-top: 400px;
}