<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="box" [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
                <h1>Register</h1>
                <p class="text-muted"> Please enter your username and password to register!</p>
                <input type="text" name="" placeholder="E-mail" formControlName="username">
                <input type="password" name="" placeholder="Password" formControlName="password">
                <input type="text" name="" placeholder="First name" formControlName="firstName">
                <input type="text" name="" placeholder="Last name" formControlName="lastName">
                <input type="submit" name="" value="Register" href="#">
                <a class="forgot text-muted" (click)="openLogin()">Already have an account ? Sign In</a>
            </form>
        </div>
    </div>
</div>