<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="box" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
                <h1>Login</h1>
                <p class="text-muted"> Please enter your username and password!</p>
                <input type="text" name="" placeholder="Username" formControlName="username">
                <input type="password" name="" placeholder="Password" formControlName="password">
                <input type="submit" name="" value="Login" href="#">
                <a class="forgot text-muted" (click)="openRegister()">Don't have an account ? Sign Up</a>
            </form>
        </div>
    </div>
</div>