@import "~bootstrap/dist/css/bootstrap.css";
body {
    margin: 0;
}

.card {
    width: 100% !important;
}

.card.card-1 {
    background: linear-gradient(to top, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    color: white;
    background-size: cover;
    /* margin: 0 100px; */
    height: 127px;
}

.card.card-2 {
    background: linear-gradient(to top, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    color: white;
    background-size: cover;
    height: 127px;
}

h4 {
    color: black;
}

input{
    margin-right: 10px;
    color: white;
}

::placeholder{
    color: rgba(253, 253, 253, 0.452);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
}

.box {
    padding: 40px;
    position: absolute;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    width: 600px;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

label {
    text-align: center;
    color: grey;
    margin-top: 30px;
    margin-right: 5px;
}


.forgot {
    text-decoration: underline
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.currency-container{
    margin-top: 100px;
}

select {
    color: wheat;
    margin-left: 65px;
    width: 90%;
}