<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <button class="btn btn-secondary" (click)="logOut()"><i class="fas fa-sign-out-alt"></i>Log Out</button>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <select class="box" (change)="onSelectCurrency($event)">
            <option [value]="null" [disabled]="true">Select currency</option>
            <option *ngFor="let currency of currencies" [value]=currency.name>
                {{currency.name}}
            </option>
        </select>
    </div>
    <br>
    <div class="currency-container" *ngIf = "exchange">
        <div class="component-2 card px-5 py-5 mx-5" style="background-color: azure;  border-radius: 5%;">
            <div>
                <h4 class="text-center mb-4">
                    Currencies
                </h4>
            </div>
            <div class="col-12 d-flex">
                <div class="col-1"></div>
                <div class="col-10">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Currency</th>
                                <th class="text-center">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="currency-tr" *ngFor="let rate of exchange.rates">
                                <td class="text-center">{{rate.name}}</td>
                                <td class="text-center">{{rate.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>